<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="clock"></i></div>
                            Activity Log
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
        <div class="row">
            <div class="col-lg-9">
                <!-- Base timeline component-->
                <div id="timelineBasic">
                    <div class="card mb-4">
                        <div class="card-header">Timeline</div>
                        <div class="card-body">
                            <!-- Component Preview-->
                            <div class="sbp-preview">
                                <div class="sbp-preview-content">
                                    <div class="timeline">
                                        <div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text">01/01/2021</div>
                                                <div class="timeline-item-marker-indicator">
                                                 <i class="fa fa-home fa-1" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">This is the content for the
                                                first timeline item.</div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text">02/02/2021</div>
                                                <div class="timeline-item-marker-indicator"><i class="fa fa-check fa-1" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">A second timeline item comes
                                                after the first item.</div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text">03/03/2021</div>
                                                <div class="timeline-item-marker-indicator"><i class="fa fa-exclamation-triangle fa-1" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">The first and last items do
                                                not extend the border to the next marker.</div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text">04/04/2021</div>
                                                <div class="timeline-item-marker-indicator"><i class="fa fa-database fa-1" aria-hidden="true"></i></i>
                                                </div>
                                            </div>
                                            <div class="timeline-item-content">This is the last item. The
                                                last item will not show a line after it's respective
                                                timeline marker.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>